<mat-card >
    <mat-card-header>
        <mat-toolbar color="primary">Cadastro de Filmes</mat-toolbar>
    </mat-card-header>
    
    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Insira o nome" formControlName="name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Ano</mat-label>
                <input matInput type="number" placeholder="Insira Apenas o ano: 1999, 2001" formControlName="releaseDate">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Duração</mat-label>
                <input matInput placeholder="Insira a Duração no Formato: 2h 19m" formControlName="movieDuration">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Escolha uma classificação</mat-label>
                <mat-select  formControlName="movieClassification">
                    <mat-option value="RUIM">Ruim</mat-option>
                    <mat-option value="BOM">Bom</mat-option>
                    <mat-option value="EXCELENTE">Excelente</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
</mat-card>


