<mat-card *ngIf="ready">
    <mat-card-header>
        <mat-toolbar color="primary">Cadastro de Filmes</mat-toolbar>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form" class="min-width">
            <mat-form-field class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Insira o nome" formControlName="name" #name>
                <mat-hint align="end">{{name.value.length}}/50</mat-hint>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="form.get('name')?.invalid">{{formUtils.getErrorMessage(this.form, 'name') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Ano</mat-label>
                <input matInput type="number" placeholder="Insira apenas o ano: 1999, 2001"
                    formControlName="releaseDate">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="form.get('releaseDate')?.invalid">{{ formUtils.getErrorMessage(this.form, 'releaseDate') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Duração</mat-label>
                <input matInput placeholder="Insira a Duração no Formato: 2h 19m" formControlName="duration" #duration>
                <mat-hint align="end">{{duration.value.length}}/7</mat-hint>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="form.get('duration')?.invalid">{{ formUtils.getErrorMessage(this.form, 'duration') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Escolha uma classificação</mat-label>
                <mat-select formControlName="classification">
                    <mat-option value="Ruim">Ruim</mat-option>
                    <mat-option value="Bom">Bom</mat-option>
                    <mat-option value="Excelente">Excelente</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('classification')?.invalid">{{ formUtils.getErrorMessage(this.form, 'classification')}}</mat-error>
            </mat-form-field>

            <mat-toolbar>
                <span>Comentários</span>
                <button mat-icon-button color="primary" (click)="addNewComment()">
                    <mat-icon aria-label="Adicionar comentário">add</mat-icon>
                </button>
            </mat-toolbar>

            <div formArrayName="comments">
                <div *ngFor="let comment of getCommentsFormArray(); let i = index">
                    <div [formGroupName]="i" class="comment-row">
                        <mat-form-field class="full-width">
                            <mat-label>Comentário</mat-label>
                            <input matInput formControlName="review" />
                            <mat-error *ngIf="getCommentsFormArray()[i].get('review')?.invalid">
                                {{ formUtils.getFormArrayFieldErrorMessage(this.form, 'comments', 'review', i) }}
                            </mat-error>
                        </mat-form-field>
                        <button mat-icon-button color="warn" aria-label="Remover Comentário" (click)="removeComment(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <mat-error *ngIf="formUtils.isFormArrayRequired(this.form, 'comments')">Adicione pelo menos um comentário</mat-error>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
</mat-card>